<%= form_for template, html: {class: "form-horizontal"} do |f| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>

  </script>

  <input type="text" id="template_variaveis" name="template[variaveis]" value="" hidden>

  <div class="form-group">
    <%= f.label :nome, "Nome do Template", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :nome, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5" id="variaveis"></div>
  </div>

  <div class="form-group">
    <%= f.label :variaveis, "Variavél", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <div class="input-group">
        <span class="input-group-addon">#</span>
        <input type="text" class="form-control" name="variavel" id="variavel">
      </div>
    </div>
    <button type="button" class="btn btn-success" onclick="addVariavel(variavel)"><i class="fa fa-plus fa-1"></i></button>
  </div>


  <div class="form-group">
    <%= f.label :type_id, "Tipo do Template", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= select("template", "type_id", Type.all.collect {|t| [ t.nome, t.id ] }, {include_blank: 'Selecione o Tipo'}, class: "form-control")%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :texto, "Corpo do Template", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.cktext_area :texto %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2">
      <%= f.button "Salvar", class: "btn btn-success form-button", type: "submit" %>
      <%= link_to 'Cancelar', templates_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
