<p id="notice"><%= notice %></p>

<h2>
  Templates Disponíveis
  <small>
    <button type="button" class="btn btn-primary">
      <%= link_to 'Novo Template', new_template_path %>
    </button>
  </small>
</h2>

<hr>

<div class="container">
  <% @templates.each do |template| %>
  	<div class="well">
  		<h3 class="doc_nome"> <%= template.nome %> </h3>
      <h4>
        <strong>Tipo:</strong>
        <small><%= template.type.nome %></small>
      </h4>
  		<p><i class="fa fa-user fa-lg" aria-hidden="true"></i> nome-autor</p>
      <%= link_to 'Visualizar', template %>
  	</div>
  <% end %>
  <%= paginate @templates %>
</div>
