<p id="notice"><%= notice %></p>

<p>
  <strong>Variaveis:</strong>
  <%= @template.variaveis %>
</p>

<p>
  <strong>Type:</strong>
  <%= @template.type %>
</p>

<p>
  <strong>Testo:</strong>
  <%= @template.texto %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
