<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @template.nome %>
</p>

<p>
  <strong>Variaveis:</strong>
  <%= @template.variaveis %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @template.type.nome %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @template.texto %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
