<%= form_for([@template, @document]) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Template: </strong><%= @template.nome %>
  <input value="<%= @template.id %>"  name="document[template_id]" hidden>
  <br>

  <br>


  <%if @document.campos.is_a? Array %>
    <input type="text" id="document_campos" name="document[campos]" value="">
    <% @document.campos.each_with_index do |campo, index| %>
      <%= f.label(campo, "#"+"#{campo}") %>
      <input type="text" id="campo-<%=campo%>" name="<%=campo%>" onchange="ct_campos(this)" onclick="resetar(this)">
    <% end %>

  <% else %>
    <input type="text" id="document_campos" name="document[campos]"%>">
    <% @document.campos.each {| campo, valor| %>
      <%= f.label(campo, "#"+"#{campo}") %>
      <input type="text" id="campo-<%=campo%>" name="<%=campo%>" value="<%=valor%>" onchange="ct_campos(this)" onclick="resetar(this)">
    <% } %>

  <% end %>

  <div class="field">
    <%= f.label :texto %>
    <input type="text" id="document_texto" name="document[texto]" value="<%=@document.texto%>"  hidden>
    <%= raw @document.texto %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
