<%= form_for([@template, @document]) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :template_id %>
    <%= f.text_field :template_id %>
  </div>

  <input type="text" id="document_campos" name="document[campos]" value="">

  <script>
    function id( el ){
    	return document.getElementById( el );
    }
    function ct_campos( campo )
    {
    	id('document_campos').value += campo.value + ',';
    }
    function resetar(campo) {
      if (campo.value == '') {
        return
      } else {
        remover(campo);
        campo.value = '';
      }

    }
    function remover(campo){
      valorAntigo = campo.value + ',';
      id('document_campos').value = id('document_campos').value.replace(valorAntigo, '');
    }
  </script>


  <% @document.campos.each do |campo| %>
    <%= f.label campo %>
    <input id="campo-<%=campo%>" name="<%=campo%>" onchange="ct_campos(this)" onclick="resetar(this)" type="text">
  <% end %>

  <div class="field">
    <%= f.label :texto %>
    <%= f.text_field :texto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
