<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<table>
  <thead>
    <tr>
      <th>Template</th>
      <th>Campos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.template.type.nome %></td>
        <td>
          <% document.campos.each {|campo, valor| %>
            <strong><%="##{campo}:"%></strong><%=" #{valor} "%>
          <% } %>
        </td>
        <td><%= raw document.texto %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_template_document_path(document.template, document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo Documento</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="modalTitle">Selecione o Template</h4>
      </div>
      <div class="modal-body">
        <%= select("template", "id" , @templates.collect {|t| [ t.nome, t.id ] }) %>
        <button type="button" class="btn btn-primary" onclick="selectTemplate()">
          <a href='#' id="templateUrl">Selecionar</a>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function selectTemplate(template) {
    link = `templates/${template_id.value}/documents/new`;
    console.log(link);
    $("#templateUrl").attr("href", link);
  }
</script>
