<p id="notice"><%= notice %></p>

<h2>
  Documentos Disponíveis
  <small>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo Documento</button>
  </small>
</h2>

<hr>

<div class="container">
  <% @documents.each do |document| %>
  	<div class="well">
  		<h3 class="doc_nome">
        <%= document.nome %>
        <small class="doc_data">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <%= document.created_at %>
        </small>
      </h3>
  		<p><i class="fa fa-file-text" aria-hidden="true"></i> <%= document.template.nome %></p>
  		<p><i class="fa fa-user fa-lg" aria-hidden="true"></i> nome-autor</p>
      <%= link_to 'Visualizar', document %>
  	</div>
  <% end %>
  <%= paginate @documents %>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="modalTitle">Selecione o Template</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= select("template", "id" , @templates.collect {|t| [ t.nome, t.id ] }, {}, class: "form-control") %>
        </div>
        <button type="button" class="btn btn-primary" onclick="selectTemplate()">
          <a href='#' id="templateUrl">Selecionar</a>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal -->



<script>
  function selectTemplate(template) {
    link = `templates/${template_id.value}/documents/new`;
    console.log(link);
    $("#templateUrl").attr("href", link);
  }
</script>
