<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= link_to @document.template.nome, template_path(@document.template) %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @document.template.type.nome %>
</p>

<p>
  <strong>Campos:</strong>
  <%= @document.campos %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @document.texto %>
</p>

<%= link_to 'Gerar PDF', documento_path(@document), target: '_blank' %>
<br>

<%= link_to 'Edit', edit_template_document_path(@document.template, @document) %> |
<%= link_to 'Back', documents_path %>
