<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @document.template %>
</p>

<p>
  <strong>Campos:</strong>
  <%= @document.campos %>
</p>

<%= link_to 'Edit', edit_template_document_path(@template, @document) %> |
<%= link_to 'Back', template_documents_path(@template) %>
