<!DOCTYPE html>
<html>
  <head>
    <title>DynamicDocs</title>

    <script src="https://use.fontawesome.com/972a47c4c6.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <%= render 'layouts/sidebar' %>
      <div class="col-md-9 container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
